.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: transparent;
  }

  .ArrowUpwardIcon{
    color: #fff;
    bottom: 2em;
    right: 2em;
  }

  .CircularProgress{
    position: fixed;
    size: 100;
    thickness: 5;
    bottom: 2.1em;
    right: 2em;
  }

  @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  }