.scroll-top {
  position: fixed;
  bottom: 1.6em;
  right: 2em;
  background-color: transparent;
  }

  .ArrowUpwardIcon{
    color: #fff;
  }

  .CircularProgress{
    position: fixed;
    size: 100;
    bottom: 1.8em;
    right: 1.85em;
  }

  @media (max-width: 900px) {
    .scroll-top {
      display: none;
    }
  }
