.about-photo{
  position: sticky;
  /* max-height: 87vh; */
  width: 100%;
  aspect-ratio: 5/8;
  background-color: #C04340;
  @media screen and (max-width: 769px) {
    aspect-ratio: 4/3;
  }
}

.row{
  margin: 0;
  padding: 0;
  height: auto;
}

#content-container{
  position: absolute;
  margin: 0;
  margin-top: 11vh;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.about-text{
  position: relative;
  margin: 0;
  padding: 0;
  word-break: break-word;
  left: 5%;
  font-family: 'Noto Sans', sans-serif;
  @media screen and (min-width: 769px) {
  }
}