.back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#mainpicture {
    opacity: 0.8;
    position: absolute;
    transform: scale(0.75) translate(-17%, -25%);
}


#main-about{
    color: #F9F9F9;
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 5%;
    text-decoration: none;
}

#main-about:hover{
    color: #D90100;
}

#main-project{
    color: #F9F9F9;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 5%;
    text-decoration: none;
}

#main-project:hover{
    color: #D90100;
}

#main-course{
    color: #F9F9F9;
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 5%;
    text-decoration: none;
}

#main-course:hover{
    color: #D90100;
}

#main-contact{
    color: #F9F9F9;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 5%;
    text-decoration: none;
}

#main-contact:hover{
    color: #D90100;
}